body{
    height: 100vh;
    display:flex;
    justify-content: space-around;
    flex: 1;

}
.memoryline{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.container{
    width:550px;
    height: 420px;
    border-width: 3px;
    border-color:grey;
    border-style: groove;
}
.displaycontainer{
    border-width: 5px;
    border-style:groove;
    padding:10px;
    margin:3px;
    background-color: rgba(148, 42, 148, 0.404);
}
button{
    width :125px;
    height :50px;
    margin: 5px;
    font-size: medium;
}

.buttons{
    display: flex;
    flex-direction: column;
}
.calculationButtons{
    background-color: rgb(157, 98, 199);
}
.row1 button{
    height: 35px;
}
.row,.row1{
    display: flex;
    justify-content: space-between;
}
.display{
    text-align: right;
    width: 515px;
    padding: 2px;
    height: 65px;
    font-size: 50px;
    border-bottom:  2px groove grey
}
#calculate{
    background-color: rgb(43, 16, 49);
    color: white;
}