body{
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display:flex;
    justify-content: space-around;
    flex: 1;

}
.memoryline{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
p{
text-align:right;
padding: 7px;
}
.container{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width:450px; 
    height: 380px;
    border-width: 3px;
    border-color:grey;
    border-style: groove;
}
.displaycontainer{
    border-width: 5px;
    border-style:groove;
    padding:10px;
    margin:3px;
    background-color: rgba(148, 42, 148, 0.404);
}
button{
    max-width :125px;
    max-height :50px;
    margin: 5px;
    width: 100%;
    height: 100%;
    font-size: medium;
}

.buttons{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
.calculationButtons{
    background-color: rgb(157, 98, 199);
}
.row1 button{
    height: 35px;
}
.row,.row1{
    display: flex;
    flex-basis:auto;
    margin:2px;
}
.display{
    text-align: right;
    max-width: 515px;
    padding: 2px;
    height: 65px;
    font-size: 50px;
    border-bottom:  2px groove grey
}
#calculate{
    background-color: rgb(43, 16, 49);
    color: white;
}